<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated root -->
      <package
            uri="http://www.example.org/root"
            class="root.com.eclipselabs.graphiti.example.model.RootPackage"
            genModel="model/root.genmodel"/>
   </extension>

</plugin>
